<aside class="sidebar">

    <!-- Logo -->
    <div class="logo">

        <i class="fa-solid fa-hospital"></i>

        <div>
            <h2>ClinicMS</h2>
            <small>Clinic Booking System</small>
        </div>

    </div>

    <!-- Portal -->
    <div class="portal-title">
        <span>Doctor Portal</span>
    </div>

    <!-- Navigation -->
    <nav>

        <!-- Dashboard -->
        <a href="{{ url_for('doctor_dashboard.dashboard') }}">
            <i class="fa-solid fa-gauge"></i>
            <span>Dashboard</span>
        </a>

        <!-- Appointments -->
        <a href="{{ url_for('doctor_appointment.appointments') }}">
            <i class="fa-solid fa-calendar-check"></i>
            <span>Appointments</span>
        </a>

        <!-- Schedule -->
        <a href="#">
            <i class="fa-solid fa-clock"></i>
            <span>Schedule</span>
        </a>

        <!-- Patients -->
        <a href="#">
            <i class="fa-solid fa-users"></i>
            <span>Patients</span>
        </a>

        <!-- Reports -->
        <a href="#">
            <i class="fa-solid fa-file-medical"></i>
            <span>Medical Reports</span>
        </a>

        <!-- Profile -->
        <a href="#">
            <i class="fa-solid fa-user-doctor"></i>
            <span>My Profile</span>
        </a>

        <!-- Logout -->
        <a href="{{ url_for('auth.logout') }}">
            <i class="fa-solid fa-right-from-bracket"></i>
            <span>Logout</span>
        </a>

    </nav>

</aside>