 <!-- Sidebar -->
  <aside class="sidebar">
    <div class="logo">

    <i class="fa-solid fa-hospital"></i>

    <div>

        <h2>ClinicMS</h2>

        <small>Clinic Booking System</small>

           

    </div>
    

</div>
 <span>Admin Portal</span>
   

           
            
            <ul class="menu">
                <li>
                    <a href="{{ url_for('admin.dashboard') }}"
                        class="{% if request.endpoint == 'admin.dashboard' %}active{% endif %}">
                        <i class="fa-solid fa-gauge"></i>
                        Dashboard
                    </a>
                </li>
                
                <li>
                    <a href="{{ url_for('doctor.doctors') }}"
                        class="{% if request.endpoint and request.endpoint.startswith('doctor.') %}active{% endif %}">
                        <i class="fa-solid fa-user-doctor"></i>
                        Doctors
                    </a>
                </li>
                
                <li>
                    <a href="#"
                        class="{% if request.endpoint and request.endpoint.startswith('patient.') %}active{% endif %}">
                        <i class="fa-solid fa-users"></i>
                        Patients
                    </a>
                </li>
                
                <li>
                    <a href="#"
                        class="{% if request.endpoint and request.endpoint.startswith('appointment.') %}active{% endif %}">
                        <i class="fa-solid fa-calendar-check"></i>
                        Appointments
                    </a>
                </li>
                
                <li>
                    <a href="#"
                        class="{% if request.endpoint and request.endpoint.startswith('reports.') %}active{% endif %}">
                        <i class="fa-solid fa-chart-line"></i>
                        Reports
                    </a>
                </li>
                
                <li>
                    <a href="#">
                        <i class="fa-solid fa-gear"></i>
                        <span>Settings</span>
                    </a>
                </li>
                
                <li class="logout">
                    <a href="{{ url_for('auth.logout') }}">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <span>Logout</span>
                    </a>
                </li>
            </ul>
        </aside>
        
    
