<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Top Bar</title>

</head>


<body>


<!-- Top Navbar -->

<div class="topbar">


    <div class="left-section">


        <button class="menu-toggle" id="menu-toggle">

            <i class="fa-solid fa-bars"></i>

        </button>



        <div>

            <h2>

                {% block page_title %}

                Dashboard

                {% endblock %}

            </h2>


            <small>
                Welcome back, {{ session['user_name'] }}
            </small>


        </div>


    </div>





    <div class="right-section">


        <div class="search-box">

            <i class="fa-solid fa-search"></i>

            <input type="text" placeholder="Search...">

        </div>





        <button class="icon-btn">

            <i class="fa-solid fa-moon"></i>

        </button>





        <button class="icon-btn notification">

            <i class="fa-solid fa-bell"></i>

            <span>3</span>

        </button>







        <div class="profile" id="profileMenu">



            <!-- Dynamic Profile Image -->

            {% if session['role'] == 'doctor' %}

                <img src="{{ url_for('static', filename='images/doctor.png') }}">


            {% else %}

                <img src="{{ url_for('static', filename='images/admin.png') }}">


            {% endif %}







            <div>


                <strong>

                    {{ session['user_name'] }}

                </strong>



                <small>

                    {{ session['role'].capitalize() }}

                </small>


            </div>





            <i class="fa-solid fa-chevron-down"></i>






            <!-- Dropdown Menu -->

            <div class="profile-dropdown">





                {% if session['role'] == 'doctor' %}


                <a href="{{ url_for('doctor_profile.profile') }}">

                    <i class="fa-solid fa-user"></i>

                    My Profile

                </a>




                {% elif session['role'] == 'admin' %}



                <a href="#">

                    <i class="fa-solid fa-user"></i>

                    My Profile

                </a>



                {% endif %}







                <a href="#">

                    <i class="fa-solid fa-gear"></i>

                    Settings

                </a>






                <a href="{{ url_for('auth.logout') }}">

                    <i class="fa-solid fa-right-from-bracket"></i>

                    Logout

                </a>




            </div>



        </div>




    </div>



</div>




</body>

</html>